circle.node {
  stroke: #fff;
  stroke-width: 1px;
}

rect.node {
    stroke: #fff;
    stroke-width: 1px;
}

line.edge {
  stroke: #999;
  stroke-opacity: 1;
}

body{
    color: #112211;
}

line.edge.fade {
    stroke-opacity: 0.05;
}

.linetext {
    font-size: 12px ;
    font-family: SimSun;
    fill:#0000FF;
    fill-opacity:0.0;
}
