.node {
    stroke: #fff;
    stroke-width: 1.5px;
}
.link {
    stroke: #999;
    stroke-opacity: .7;
}
h3 {
    color: #000000;
    font-size: 24px;
    font-family: "Helvetica";
}
#search{
    height: 40px;
    width: 200px;
}
#buttonid{
    height: 40px;
    width: 100px;
    font-size: 24px;
    font-family: "Helvetica"
}
.d3-tip{
    color: #000000;
    font-size: 24px;
    font-family: "Helvetica";
}